<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @bid.id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @bid.job_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @bid.user_id %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @bid.conditions %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
