<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @company.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @company.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @company.last_name %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @company.industry %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
